body {
  background-image: url("./assets/bg5.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

header {
  background-image: url("./assets/headerpic2.jpg");
  color: white;
  padding: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: white;
  color: black;
  padding-top: 0.5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2%;
}

.MainApp {
  margin-left: 0;
  margin-top: 50px;
  background-image: url("./assets/Logo.png");
  background-color: rgb(101, 96, 96);
  border-radius: 20px;
  padding: 2rem;
  max-width: 80%; /* Increase the max-width to make the screen bigger */
  height: 80vh; /* Set the height to 80vh to make the screen bigger */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create a grid with 3 columns */
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#enlargedImage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

#enlargedImage img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

#closeButton {
  font-size: 24px;
  color: white;
  background-color: black;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .image-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
